body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*search form*/
.search-form.navbar-form {
    padding-right: 0;
}

    .search-form.navbar-form .form-group {
        position: relative;        
    }

    .search-form.navbar-form .form-group input {        
        padding-left: 40px;
    }

        .search-form.navbar-form .form-group::before {
            content: "\e003";
            position: absolute;
            display: block;
            top: 5px;
            left: 15px;
            font-family: 'Glyphicons Halflings';
        }