<form class="search-form navbar-form" data-bind="submit: ApplySearch">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search employees" data-bind="value: SearchFilter.Name">
    </div>
</form>